<div class="row">
    <div class="col-md-8 offset-2">
        <h1 class="text-info">You've reached the end of the Internet!</h1>
        <hr>
        <a class="btn btn-outline-success" asp-controller="AppleId" asp-action="Index">
            Home Page
        </a>
    </div>
</div>